<a href="https://colab.research.google.com/github/chandragargp/Human-Resources-Department-Solution/blob/main/Human_Resources_Department_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# TASK #1: UNDERSTAND THE PROBLEM STATEMENT AND BUSINESS CASE

*  Hiring and retaining employees are extremely complex tasks that require capital, time and skills.  

*  Small business owners spend 40% of their working hours on tasks that do not generate any income such as hiring.

*  Companies spend 15%-20% of the employee's salary to recruit a new candidate.

*  An average company loses anywhere between 1% and 2.5% of their total revenue on the time it takes to bring a new hire up to speed.

*  Hiring a new employee costs an average of $7645 (0-500 corporation).

*  It takes 52 days on average to fill a position.

As a data scientist at a multinational corporation. 
The HR team collected extensive data on their employees and approached you to develop a model that could predict which employees are more likely to quit. 
The team provided you with an extensive data, here's a sample of the dataset: 


*  JobInvolvement
*  Education
*  JobSatisfaction
*  PerformanceRating
*  RelationshipSatisfaction
*  WorkLifeBalance

In [2]:
# TASK #2: IMPORT LIBRARIES AND DATASETS

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
#  include the full link to the csv file containing your dataset
employee_df = pd.read_csv('Human_Resources.csv')

In [6]:
employee_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2